@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

// RESET // 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: v.$primary-font;
}

//FOR SMOOTH SCROLL LINKS (ARROW DOWN PRINCIPALY) 
html {
  scroll-behavior: smooth;
}
//BASE STYLES//

//base container reset
.container{
  max-width: 350px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
  @include m.breakpoint("tablet"){
    max-width: 700px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include m.breakpoint("laptop"){
    max-width: 1200px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include m.breakpoint("desktop"){
    max-width: 1800px;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

