@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.master{
   .container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    .hero{
        @include m.breakpoint("tablet"){
            display: flex;
            flex-direction: column;
        }
        @include m.breakpoint("laptop"){
            @include m.flex-reset();
            padding-bottom: 2rem;
            gap: 2rem;
        }
        @include m.breakpoint("desktop"){
            @include m.flex-reset();
            padding-bottom: 2rem;
            gap: 2rem;
            align-items: center;
        }
        .hero__text{
            @include m.breakpoint("laptop"){
                max-width: 50%;
            }
            @include m.breakpoint("desktop"){
                max-width: 50%;
            }
            h2{
                font-size: 0.8rem;
                font-weight: v.$font-regular;
                text-align: center;
                @include m.breakpoint("tablet"){
                    text-align: left;
                    font-size: 1rem;
                }
                @include m.breakpoint("laptop"){
                    text-align: left;
                    font-size: 1.2rem;
                }
                @include m.breakpoint("desktop"){
                    text-align: left;
                    font-size: 1.5rem;
                }
            }
            h1{
                font-size: 1.2rem;
                text-align: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                @include m.breakpoint("tablet"){
                    font-size: 1.5rem;
                    text-align: left;
                }
                @include m.breakpoint("laptop"){
                    font-size: 1.8rem;
                    text-align: left;
                }
                @include m.breakpoint("desktop"){
                    font-size: 2.2rem;
                    text-align: left;
                }
            }

            p{
                text-align: center;
                @include m.breakpoint("tablet"){
                    font-size: 1.2rem;
                    text-align: left;
                }
                @include m.breakpoint("laptop"){
                    font-size: 1.2rem;
                    text-align: left;
                }
                @include m.breakpoint("desktop"){
                    font-size: 1.3rem;
                    text-align: left;
                }
            }


        }
        .hero__img{
            @include m.breakpoint("tablet"){
                align-self: center;
            }
            img{
                max-width: 100%;
                &.chema{
                    max-width: 80%;
                }
            }
        }
    }

    .info{
        padding-top: 2rem;
        .title__container{
            h2{
                font-size: 1.5rem;
                text-align: center;
            }
            p{
                text-align: center;
                padding-top: 1rem;
                padding-bottom: 3rem;
                color: #475467;
                position: relative;
                &::after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    height: 2px;
                    background: v.$conquer-gradient;
                    width: 20%;
                    bottom: 1rem;
                    left: 40%;
                }
            }

        }
        .article__container{
            @include m.breakpoint("tablet"){
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            @include m.breakpoint("laptop"){
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 3rem;
            }

            @include m.breakpoint("desktop"){
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 3rem;
            }
            article{
                padding-top: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include m.breakpoint("tablet"){
                    max-width: 45%;
                    align-items: flex-start;
                }

                @include m.breakpoint("laptop"){
                    max-width: 30%;
                    align-items: flex-start;
                }

                @include m.breakpoint("desktop"){
                    max-width: 30%;
                    align-items: flex-start;
                }
                .img__container{
                    height: 6rem;
                    min-width: 6rem;
                    border-radius: 50%;
                    background-color: white;
                    box-shadow: v.$article-shadow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 3rem;   
                    }
                }
                h3{
                    font-size: 1.6rem;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                }
                p{
                    padding-bottom: 1rem;
                }

                ul{
                    li{
                        padding-bottom: 1rem;
                        a{
                            color: black;
                        }
                        &::marker{
                            color: v.$conquer-blue;

                        }
                    }
                }
            }
        }
            
    }
   }
}
