@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.cursos__main{
    .hero{
        .container{
            padding-top: 1rem;
            padding-bottom: 2rem;
            position: relative;
            h1{
                font-size: 1.7rem;
                text-align: center;
                text-transform: uppercase;
                &::after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 25%;
                    height: 2px;
                    background: v.$conquer-gradient;
                    bottom: 1rem;
                    left: 50%;
                    transform: translate(-50%);

                }
            }
        }
    }

    .cards{
        .container{
           @include m.breakpoint("laptop"){
            display: flex;
            flex-shrink: 1;
            justify-content: space-between;
            padding: 0.5rem;
           }
            article{
                box-shadow: v.$article-shadow;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center; 
                border-radius: 1rem;  
                margin-bottom: 2rem;
                flex-grow: 0;
                @include m.breakpoint("laptop"){
                    max-width: 22%;
                    padding-bottom: 1rem;
                    height: fit-content;
                }
                img{
                max-width: 50%;
                @include m.breakpoint("tablet"){
                    max-width: 30%;
                }
                @include m.breakpoint("laptop"){
                    margin-top: 1rem;
                    max-width: 100px;
                    height: 100px;
                }
            }
                div{
                    h2{
                        font-weight: bold;
                        font-size: 1.2rem;
                        @include m.breakpoint("laptop"){
                            font-size: 1rem;
                        }
                    }
                    h3{
                        font-weight: v.$font-light;
                        font-size: 0.9rem;
                        font-style: italic;
                        padding-bottom: 0.5rem;
                        @include m.breakpoint("laptop"){
                            font-size: 0.7rem;
                        }
                    }
                    p{
                        font-size: 1rem;
                        @include m.breakpoint("laptop"){
                            font-size: 0.8rem;
                            strong{
                                font-size: inherit;
                            }
                        }
                    }
                }
            }     
        }
    }

    //these styles are the same that i used in the index 
    .formaciones{
        .container{
            //formaciones section title
            .formaciones__title{
                padding-top: 1rem;
                padding-bottom: 3rem;
                position: relative;
                h2{
                    font-size: 1.7rem;
                    text-align: center;
                    padding-bottom: 2rem;
                }
                p{
                    text-align: center;
                    padding-bottom: 2rem;
                    
                    &::after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 25%;
                        height: 2px;
                        background: v.$conquer-gradient;
                        bottom: 2.5rem;
                        left: 50%;
                        transform: translate(-50%);

                    }
                }
            }
            //course containers
            .courses__container{
                @include m.breakpoint("laptop"){
                    @include m.flex_reset();
                }
                @include m.breakpoint("desktop"){
                    @include m.flex_reset();
                }
                .course{
                    margin-bottom: 2rem;
                    
                    @include m.breakpoint("tablet"){
                        box-shadow: v.$article-shadow;
                    }
                    @include m.breakpoint("laptop"){
                        box-shadow: v.$article-shadow;
                        @include m.article-design();
                    }
                    @include m.breakpoint("desktop"){
                        box-shadow: v.$article-shadow;
                        @include m.article-design();
                    }
                    img{
                        max-width: 100%;
                        @include m.breakpoint("tablet"){
                            width: 200%
                        }
                        @include m.breakpoint("laptop"){
                            max-width: 100%;
                        }
                        @include m.breakpoint("desktop"){
                            max-width: 100%;
                        }
                    }
                    h3{
                        font-size: 1.3rem;
                        padding-bottom: 1rem;
                        padding: 0.5rem;
                    }
                    p{
                        padding-bottom: 1rem;
                        padding: 0.5rem;
                    }
    
                    ul{
                        list-style-type: none;
                        margin-bottom: 1rem;
                        padding: 0.5rem;
                        li{
                            display: flex;
                            align-items: center;
                            padding-left: 1.5rem;
                            background-image: url(../img/shared/check-icon.svg);
                            background-repeat: no-repeat;
                            background-position: top 2px left;
                            background-size: 1.2rem;
                            padding-bottom: 1rem;
                        }
                    }
            }
            


            }
        }
    }
}