@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.home__main{
    //HERO
    .home__hero{
        @include m.breakpoint("desktop") {
            background-color: black;
            position: relative;
        }
        //HERO VIDEO
        .hero__video{
            video{
                width: 100%;
                height: fit-content;
                aspect-ratio: 16 / 9;
                @include m.breakpoint("desktop"){
                    max-height: 93vh;
                    overflow: hidden;
                    z-index: 1;
                }
            }
            .arrow-down{
                    display: none;
                    img{
                        max-width: 3rem;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 5%;
                        right: 50%;
                    }
                    @include m.breakpoint("desktop"){
                        display: block;
                    }
            }
        }
    }
    .home__title{
        .container{
            max-width: 100%;
            padding: 0;
            margin: 0;
            margin-top: -7px;
            .title{
                color: white;
                background: v.$conquer-gradient;
                text-align: center;
                font-size: 2.5rem;
                padding: 20px;
            }
        }
    }
    .formaciones{
        .container{
            .formaciones__title{
                padding-top: 1rem;
                padding-bottom: 3rem;
                position: relative;
                h2{
                    font-size: 1.7rem;
                    text-align: center;
                    padding-bottom: 2rem;
                }
                p{
                    text-align: center;
                    padding-bottom: 2rem;
                    
                    &::after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 25%;
                        height: 2px;
                        background: v.$conquer-gradient;
                        bottom: 2.5rem;
                        left: 50%;
                        transform: translate(-50%);

                    }
                }
            }
            .courses__container{
                @include m.breakpoint("laptop"){
                    @include m.flex_reset();
                }
                @include m.breakpoint("desktop"){
                    @include m.flex_reset();
                }
                .course{
                    margin-bottom: 2rem;
                    
                    @include m.breakpoint("tablet"){
                        box-shadow: v.$article-shadow;
                    }
                    @include m.breakpoint("laptop"){
                        box-shadow: v.$article-shadow;
                        @include m.article-design();
                    }
                    @include m.breakpoint("desktop"){
                        box-shadow: v.$article-shadow;
                        @include m.article-design();
                    }
                    img{
                        max-width: 100%;
                        @include m.breakpoint("tablet"){
                            width: 200%
                        }
                        @include m.breakpoint("laptop"){
                            max-width: 100%;
                        }
                        @include m.breakpoint("desktop"){
                            max-width: 100%;
                        }
                    }
                    h3{
                        font-size: 1.3rem;
                        padding-bottom: 1rem;
                        padding: 0.5rem;
                    }
                    p{
                        padding-bottom: 1rem;
                        padding: 0.5rem;
                    }
    
                    ul{
                        list-style-type: none;
                        margin-bottom: 1rem;
                        padding: 0.5rem;
                        li{
                            display: flex;
                            align-items: center;
                            padding-left: 1.5rem;
                            display: inline-block;
                            background-image: url(img/shared/check-icon.svg);
                            background-repeat: no-repeat;
                            background-position: top 2px left;
                            background-size: 1.2rem;
                            padding-bottom: 1rem;
                        }
                    }
            }
            


            }
        }
    }
    .blog{
        .blog__title{
            position: relative;
            margin-bottom: 3rem;
            h2{
                font-size: 1.7rem;
                text-align: center;
                padding-bottom: 2rem;
                &::after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 25%;
                    height: 2px;
                    background: v.$conquer-gradient;
                    bottom: 0rem;
                    left: 50%;
                    transform: translate(-50%);

                }
            }
        }

        .news__container{
            @include m.breakpoint("tablet"){
                @include m.flex_reset();
            }
            @include m.breakpoint("laptop"){
                @include m.flex_reset();
            }
            @include m.breakpoint("desktop"){
                @include m.flex_reset();
            }
            .new{
                margin-bottom: 2rem;
                box-shadow: v.$article-shadow;
                @include m.breakpoint("tablet"){
                    box-shadow: v.$article-shadow;
                    @include m.article-design();
                }
                @include m.breakpoint("laptop"){
                    box-shadow: v.$article-shadow;
                    @include m.article-design();
                }
                @include m.breakpoint("desktop"){
                    box-shadow: v.$article-shadow;
                    @include m.article-design();
                }
                img{
                    max-width: 100%;
                    aspect-ratio: 16 / 9;
                }
                h3{
                    padding-bottom: 1rem;
                    padding: 0.5rem;
                    text-align: center;
                    a{
                        text-decoration: none;
                        font-size: 1rem;
                        color: v.$black-color;
                        
                    }
                }
                p{
                    text-align: center;
                    font-weight: v.$font-extralight;
                    max-height: 100px;
                    overflow: hidden;
                    margin-bottom: 1rem;
                    padding: 0.5rem;
                }
            }
        }
    }
    .teachers{
        background-color: #f5f5f5;
        padding-bottom: 2rem;
        .container{
            .teachers__title{
                padding-top: 1rem;
                padding-bottom: 3rem;
                position: relative;
                h2{
                    font-size: 1.7rem;
                    text-align: center;
                    padding-bottom: 2rem;
                }
                p{
                    text-align: center;
                    padding-bottom: 2rem;
                    
                    &::after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 25%;
                        height: 2px;
                        background: v.$conquer-gradient;
                        bottom: 2.5rem;
                        left: 50%;
                        transform: translate(-50%);

                    }
                }
                
            }
            .teacher__card__container{
                @include m.breakpoint("tablet"){
                    @include m.flex_reset();
                }
                @include m.breakpoint("laptop"){
                    @include m.flex_reset();
                }
                @include m.breakpoint("desktop"){
                    @include m.flex_reset();
                }
                .teacher{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 2rem;
                    @include m.breakpoint("tablet"){
                        @include m.article-design();
                        justify-content: flex-start;
                    }
                    @include m.breakpoint("laptop"){
                        @include m.article-design();
                        justify-content: flex-start;
                    }
                    @include m.breakpoint("desktop"){
                        @include m.article-design();
                        justify-content: flex-start;
                    }
                    img{
                        max-width: 50%;
                        border-radius: 50%;
                        padding-bottom: 0.5rem;
                    }
                    h3{
                        font-size: 1.3rem;
                        padding-bottom: 1rem;
                        padding: 0.5rem;
                    }
                    h4{
                        font-size: 0.8rem;
                        color: v.$conquer-blue;
                    }
                    p{
                        padding-bottom: 1rem;
                        padding: 0.5rem;
                        font-weight: v.$font-extralight;
                        text-align: center;
                    }
                }
            }

            .teachers__cta{
                padding: 2rem;
                box-shadow: v.$article-shadow;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                h3{
                    font-size: 1.3rem;
                    padding: 0.5rem;
                    text-align: center;
                }
                p{
                    padding: 0.5rem;
                    font-weight: v.$font-light;
                    text-align: center;
                    padding-bottom:1rem;
                }

                a{
                    max-width: 100%;
                    @include m.breakpoint("tablet"){
                        max-width: 50%;
                    }
                    @include m.breakpoint("laptop"){
                        max-width: 20%;
                    }
                    @include m.breakpoint("desktop"){
                        max-width: 20%;
                    }
                }
            }
        }
    }
}
