@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.home__main{
    .home__hero{
        .hero__video{
            iframe{
                width: 100%;
                height: fit-content;
                aspect-ratio: 16 / 9;
            }
        }
    }
}