@use '../abstract/_variables' as v;

//Breakpoints Media Querys
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1440px) { @content; }
    } @else if $point == laptop {
      @media (max-width: 1439px) and (min-width:1024px ) { @content; }
    } @else if $point == tablet {
      @media (max-width: 1023px) and (min-width: 768px) { @content; }
    } @else if $point == mobile {
      @media (max-width: 767px) { @content; }
    }
  }



  // Reset List

@mixin reset-list(){
    display: flex;
    list-style-type: none;
    gap: 0px;
    align-items: center;
    li{
        a{
            text-decoration: none;
        }
    }
}


//Cards
@mixin article-design{
  flex-shrink: 1;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//mixin flex-reset
@mixin flex-reset{
  display: flex;
  justify-content: space-between;
  
}

//arrow up styles

@mixin arrow-up{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

// mixin for home video banner
@mixin banner-styles{
  h2{
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    text-shadow: 3px 3px 1px #0000006b;
    span{
        color: v.$conquer-blue;
        text-shadow: 3px 3px 1px #0000006b;
    }
}
p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: v.$conquer-green;
    background-color: v.$conquer-gradient;
    text-shadow: 3px 3px 1px #0000006b;
}
}