@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;



.btn{
    text-align: center;
    background-color: v.$black-color;
    color: white;
    width: 100%;
    display: inline-block;
    padding: 0.5rem;
    font-weight: bold;
    text-decoration: none;

}

.regbtn{
    display:block;
    text-align: center;
    background:v.$conquer-gradient;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: v.$font-bold;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include m.breakpoint("tablet"){
        display: inline-block;
    }
    @include m.breakpoint("laptop"){
        display: inline-block;
    }
    @include m.breakpoint("desktop"){
        display: inline-block;
    }
}