@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

header.header{
    background: v.$conquer-gradient;
    .container{
        //header base styles
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include m.breakpoint("laptop"){
            align-items: center;
            justify-content: space-around;
        }
        @include m.breakpoint("desktop"){
            align-items: center;
            justify-content: space-around;
        }

        //hamburguer menu icons
        .material-symbols-outlined{
            font-size: 1.2rem;
            // color: v.$link-color;
        }
        
        //input buttons 
        input[type="checkbox"] {
            display: none;
        }
        input#nav-toggle:checked ~ nav.main__nav{
            display: block;
            max-height: 500px; /* Puedes ajustarlo según el tamaño de tu menú */
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

        label{
            @include m.breakpoint("laptop"){
                display: none;
            }
            @include m.breakpoint("desktop"){
                display: none;
            }
        }
        //logo an menus styles
        .logo{
            width: 150px;
            @include m.breakpoint("laptop"){
                width: 200px;
            }
            @include m.breakpoint("desktop"){
                width: 200px;
                position: relative;
                top: 3px;
            }
        }

        .main__nav{
            max-height: 0;
            position: absolute;
            width: 110%;
            background-color: white;
            top: 4.6rem;
            right: -0.8rem;
            transform: translateY(-20px);
            transition: all 0.4s ease-in-out;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            pointer-events: none;
            @include m.breakpoint("tablet"){
                top: 4.6rem;
                right: -2rem;
            }
            @include m.breakpoint("laptop"){
                all: unset;
                transform: none;
                pointer-events: auto;
                padding: 0;
                position: relative;

            }
            @include m.breakpoint("desktop"){
                all: unset;
                transform: none;
                pointer-events: auto;
                padding: 0;
                position: relative;

            }
            ul{
                list-style-type: none;
                @include m.breakpoint("laptop"){
                    @include m.reset_list();
                    gap: 1rem
                }
                @include m.breakpoint("desktop"){
                    @include m.reset_list();
                    gap: 1.5rem;
                }
                li{
                    padding: 20px;
                    @include m.breakpoint("laptop"){
                        padding: 5px;
                    }
                    a{
                        text-decoration: none;
                        color: v.$black-color;
                        font-size: 0.75rem;
                        @include m.breakpoint("laptop"){
                            font-size: 1rem;
                            &:hover{
                                text-decoration: underline;                            }
                            
                        }
                        @include m.breakpoint("desktop"){
                            font-size: 1rem;
                            &:hover{
                                text-decoration: underline;
                            }
                            
                        }
                    }
                }
            }
        }
    }

}
